@charset "utf-8";
/* CSS Document */

body {
	margin: 5px 150px;
}

#arco {
	style="width: 100%;
	height: 200px;
	border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 50% 100%;
	background-color: #5b9bd5;
	/*background-image: -moz-linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	background-image: -ms-linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	background-image: -webkit-gradient(top, 0 0, 0 100%, from(#B0C4DE) 20%, to(#5b9bd5) 80%);
	background-image: -webkit-linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	background-image: -o-linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	background-image: linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0C4DE' 20%, endColorstr='#5b9bd5' 80%, GradientType=0);*/
	border: none;"
}

#divLogoMenu {
	width: 125px;
	height: 125px;
	margin-left: 467px;
	margin-top: 40px;
	float: left;
}

#menu {
	width: 100%;
	height: 300px;
}

.contenedor {
	margin-left:100px;
	margin-top:50px;
	float: left;
	width: 200px;
	height: 285px;
}

.circulo {
	width: 200px;
	height: 200px;
	background-color: #2E8B57;
	border-radius: 50%;
	float:left;
}

.icono {
	height: 120px;
	width: 120px;
	margin: 10px;
}

footer {
	width: 100%;
	height: 30px;
	border-radius: 8px;
	background-color: #5b9bd5;
	/*background-image: -moz-linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	background-image: -ms-linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	background-image: -webkit-gradient(top, 0 0, 0 100%, from(#B0C4DE) 20%, to(#5b9bd5) 80%);
	background-image: -webkit-linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	background-image: -o-linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	background-image: linear-gradient(top, #B0C4DE 20%, #5b9bd5 80%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0C4DE' 20%, endColorstr='#5b9bd5' 80%, GradientType=0);*/
	border: 3px groove #41719c;
	color: white;
	text-align:center;
	padding: 2px;
    float: left;
	margin-top: 5px;
}

footer p {
	margin-top: 8px;
}

.iconosOpciones {
	margin-top: 30px;
	margin-left: 30px;
	float: left;
}

.textoOpciones {
	font-family: "Times New Roman";
	text-align: center;
	width: 200px;
	font-size: 25px;
	color: #4472c4;
	float: left;
	font-weight: bolder;
	height: 55px;
}

/* ==========================================================================================================================*/
/* ==================================================== REGISTRO USUARIO ====================================================*/
/* ==========================================================================================================================*/

.contenedorRegistroUsuario {
	width: 100%;
	height: 600px;
	border-radius: 8px;
	background-color: #5b9bd5;
}

.subcontenedor {
	width: 1021px;
	height:574px;
	margin: 13px;
	background-color:white;
	float: left;
	border-radius: 5px;
}

.divTitulo {
	width: 75%;
	background-color: #5b9bd5;
	border-radius: 50px;
	color: white;
	margin-left: 120px;
	text-align: center;
	margin-top: 10px;
	height: 30px;
	padding-top: 5px;
	font-size: 20px;
	font-weight: bolder;
}

fieldset {
	margin: 15px;
	border:2px solid #5b9bd5;
	border-radius: 5px;
	padding: 15px 30px;
}

legend {
	color: black;
}

.etiquetas {
	border-radius: 5px 0px 0px 5px;
	background: #5b9bd5;
	margin: 5px 0px 5px 5px;
	float: left;
	width: 150px;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 10px;
	font-weight: bolder;
	text-align: left;
	font-family:'Times New Roman', Times, serif;
	font-size: 16px;
	color: white;
}

.cajaTexto {
	border: 2px solid #5b9bd5;
	margin: 5px 0px;
	height: 21px;
	border-radius: 0px 5px 5px 0px;
}

.divBotones {
	 float: right;
	 width: 100%;
	 margin: 5px;
	 padding-right: 5px;
}

.divBotones button {
	background: #5b9bd5;
	border-radius: 5px;
	margin-right: 5px;
	float: right;
	color: white;
	width: 120px;
	height: 30px;
	border: none;
}